.btn{
    color:#FFF;
    text-decoration: none;
    padding: .6em 1.6em;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 200;
    font-size: .85rem;
    font-weight: bold;

    &--red{
        background-color:$main-red;
        color:#FFF;
          &:hover{
             background-color:$dark-red;
            text-decoration: underline;
        }
    }
    &--red-outline{
        background-color:transparent;
        border:2px solid $main-red;
        border-radius: 4px;
        &:hover{
             background-color:$dark-red;
             border:2px solid $dark-red;
            text-decoration: underline;
        }
    }
    
    &--large{
         padding: 1em 2.5em;
        font-size:1rem;
    }
    
    &--position-absolute {
        position: absolute;
        top:10px;
    }
}
