.btn{
    color:#FFF;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 200;
    font-size: 1.6rem;
    font-weight: bold;

    &--red{
        background-color:$main-red;
        color:#FFF;
          &:hover{
             background-color:$dark-red;
            text-decoration: underline;
        }
    }
    &--red-outline{
        background-color:transparent;
        border:2px solid $main-red;
        border-radius: 4px;
        &:hover{
             background-color:$dark-red;
             border:2px solid $dark-red;
            text-decoration: underline;
        }
    }
    
    &--small{
        padding:.6rem 2rem !important;
    }
    
    &--large{
         padding: 1.5em 4em !important;
        font-size:1.6rem;
    }
    
    &--position-absolute {
        position: absolute;
        top:1rem;
    }
}
