.carousel {
    width:100%;
    height: 30rem;
    z-index: 0;
    h1 { font-size:2.5rem; margin:0; color:#FFF !important; }
    h2 { font-size:2rem; margin:0; color:#FFF !important; }
    h3 { font-size: 1.5rem; margin:0; color:#FFF !important; }
    h4 { color:#FFF !important;}
    @mixin atMedium {
        height: 40rem;
        h1 { font-size:3rem; margin:0; line-height: 1.625;}
        h2 { font-size:2.5rem; margin:0; line-height: 1.625; }
        h3 { font-size: 2rem; margin:0; line-height: 1.625;}
    }
    @mixin atLarge {
        height: 60rem;
        h1 { font-size:6rem; margin:0; line-height: 1.625;}
        h2 { font-size:4rem; margin:0; line-height: 1.625; }
        h4 { font-size:3rem; margin:0; line-height: 1.625;}
    }
}

.carousel-inner .item {
    height: 30rem;
    
    @mixin atMedium {
        height: 40rem;
    }
    
     @mixin atLarge {
        height: 60rem;
    }
}

.carousel-inner img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

.carousel-control.right,.carousel-control.left{
    background-image: none !important
}

.carousel-inner .item .content{
    position: absolute;
    top:35%;
    left:50%;
    transform: translateX(-50%);
    width:80%;
    z-index: 10;
    color:#FFF;
    text-align: center;
    @mixin atSmall {
        top:40%;
    }
    @mixin atMedium {
        top:40%;
        width: 100%;
    }
}

.carousel-indicators {
    position: absolute;
    bottom:5%;
}
.left,.right {
    position: absolute;
    top:0%;
    
     @mixin atLarge {
        top:15%;
    }
}

.show-until-mobile { 
    display: none;

    @mixin atMedium {
        display: block;
    }
}

.show-until-large { 
    display: block;
    @mixin atMedium {
        display: none;
    } 
}



