.footer{
    text-align: center;
    color:#FFF;
    font-weight: 100;
    font-size:.85rem;
    padding:30px 0;
    
    .address{
        padding-top:15px;
    }
    
    a {
        color:#FFF;
        &:hover{
            color:$mainLightBlue;
            text-decoration: underline;
        }
    }
    
    &__links {
        li {
            
            list-style: none;
            float:left;
            margin-right:30px;
            ul{
                margin-top:10px;
                li{
                    float:none;
                    text-align: left;
                    margin-bottom:10px;
                }
            }
        }
        
        &:after {
            content:'';
            display: table;
            clear: both;
        }
        
        &__title {
            font-size:1rem;
            font-weight: bold;
            line-height: 1.625;
            margin:0 0 3px 0;
            padding:0;
            text-align: left;
            border-bottom:1px dotted #FFF;
        }
    }
}