.page-section{
    padding-left:2rem;
    padding-right:2rem;
    padding-top:3rem;
    padding-bottom:3rem;
    @mixin atMedium{
         padding-top:6rem;
        padding-bottom:6rem;
    }
    
    &--blue {
        background-color:$main-blue;
        color:#FFF;
    }

    &--super-light-gray{
        background-color:$super-light-gray;
    }

    &--white {
        background-color:#FFF;
    }
   
  
    &__title {
        text-align: center;
        color:$main-blue;
        margin-bottom:.4em;
        font-size:5.2rem;
        text-transform: uppercase;
        padding:2rem 0 2rem 0;
        font-weight: 700;
        @mixin atMedium {
             padding:7rem 0 3rem 0;
        }

        &--blue-text {
            color:$main-blue;
        }


        &--gray-text {
            color:#555;
        }

        &--white-text {
            color:#FFF;
        }

        @mixin atMedium {
            margin-bottom:1em;
        }
    }

    &--our-success {
        background-color:#e0e6ef;
        background:url('../../assets/images/our-success-bg.jpg') top center no-repeat;
    }
}


