 .nav-tab{
      margin:0;
     padding:0;
     
    
     &__content{
        display: none;
        animation: fadeEffect 2s;
        min-height:10rem;
        margin-top:2em;
         color:#FFF;
         &.nav-tab__current-tab{
            animation: fadeEffect 2s;
            display: block;
         }
         
         &__block{
             border:1px solid $super-light-gray;
             margin-bottom:20px;
             padding:20px;
             position: relative;
             p{
                 color:#FFF;
                 font-size:.85rem;
                 text-align: left;
                 line-height: 1.625;
                 margin:0;
             }
             &__title{
                 border-bottom:1px solid #CCC;
                 padding-bottom:5px;
                 width:71%;
                 @mixin atMedium{
                    width:81%; 
                 }
             }
             &__date{
                position: absolute;
                right: 10px;
                top: 30%;
                width: 70px;
                text-align: center;
                border: 1px solid #ccc;
                padding: 15px;
                 color:#FFF;
             }
             
             &:hover{
                 border:1px solid $super-light-gray;;
                 
                 & .nav-tab__content__block__date{
                     background-color:$darkBlue;
                     color:#FFF;
                 }
                 
                 & .nav-tab__content__block__title{
                     border-bottom:1px solid $super-light-gray;
                 }
             }
         }
     }
     
     
      
    &__link {
        button{
            background-color:transparent;
            color:#FFF;
        }
        float:left;
        border:1px solid #FFF;
        color:$super-light-gray;
        list-style: none;
        padding:10px;
        cursor: pointer;
        text-align: center;
        font-size:.97rem;
        &--current{
             button{
            
            color:$main-blue;
        }
            color:$main-blue;
            background-color:$super-light-gray;
        }
        
        
        
        &:hover{
            background-color:$super-light-gray;;
             color:$main-blue;
            button{
                color:$main-blue;
            }
        }
        
        @mixin atSmall{
            padding:15px;
            font-size:1.2rem;
        }
        @mixin atMedium{
            padding:15px;
            font-size:1rem;
        }
    }
     
     &:after{
            content: "";
              display: table;
              clear: both;
            }
    }







 .nav-tab2{
      margin:0;
     padding:0;
     
    
     &__content{
        display: none;
        animation: fadeEffect 2s;
        min-height:10rem;
        margin-top:2em;
         color:#777;
         &.nav-tab2__current-tab{
            animation: fadeEffect 2s;
            display: block;
         }
         
         &__block{
             margin-bottom:20px;
             padding:0;
             position: relative;
             p{
                 color:#555;
                 font-size:1.1rem;
                 text-align: left;
                 line-height: 1.625;
                 margin:0 0 20px 0;
                 font-weight: 300;
             }
             &__title {
                 font-size:1.4rem;
                 color:$main-blue;
                 font-weight: 400;
                 line-height: 1.625;
                 margin:0;
                 padding:0;
                 @mixin atMedium{
                    width:81%; 
                 }
             }
             
             ul{
                margin:0 0 0 20px;
                padding:0;
                 li{
                     margin-bottom:10px;
                     line-height: 1.625;
                     p{
                         font-weight: 300;
                     }
                 }
             }
         }
     }
     
     
      
    &__link {
        background-color:$super-light-gray;
        border-right:4px solid #FFF;
        color:$main-blue;
        list-style: none;
        padding:10px;
        cursor: pointer;
        text-align: center;
        font-size:.97rem;
        margin-bottom:15px;
        button{
            padding:0;
            margin:0;
            background-color:transparent;
            color:$main-blue;
        }
        &--current{
             button{
          
            color:#FFF;
        }
                color:#FFF;
                background-color:$main-blue;
                position: relative;
                 &:before {
                content:"\f0d7";
                position: absolute;
                bottom:-20px;
                left:50%;
                transform: translateX(-50%);
                color:$main-blue;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                 font-size:2rem;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
                @mixin atSmall{
                     &:before {
                        content:"\f0d7";
                        position: absolute;
                        bottom:-40px;
                        left:50%;
                        transform: translateX(-50%);
                        color:$main-blue;
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size:5rem;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                   
                }
            
            
            }
        
          &:hover {
             background-color:$main-blue;
             color:#FFF;
             position: relative;
            button{
                color:#FFF;
            }
             &:before {
                content:"\f0d7";
                position: absolute;
                bottom:-20px;
                left:50%;
                transform: translateX(-50%);
                color:$main-blue;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                 font-size:2rem;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        
        @mixin atSmall{
            margin-bottom:0;
            float: left;
            
              &:hover {
             background-color:$main-blue;
             color:#FFF;
             position: relative;
             &:before {
                content:"\f0d7";
                position: absolute;
                bottom:-40px;
                left:50%;
                transform: translateX(-50%);
                color:$main-blue;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                 font-size:5rem;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
            
        }
       
      
        @mixin atMedium {
            padding:15px;
            font-size:1rem;
        }
        
      
    }
     
     &:after{
            content: "";
              display: table;
              clear: both;
            }
    }


 @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }