 .nav-tab{
      margin:0;
     padding:0;
     
    
     &__content{
        display: none;
        animation: fadeEffect 2s;
        min-height:10rem;
        margin-top:2em;
         color:#FFF;
         &.nav-tab__current-tab{
            animation: fadeEffect 2s;
            display: block;
         }
         
         &__block {
             border:1px solid $super-light-gray;
             margin-bottom:2rem;
             padding:2rem;
             margin-left:0;
             position: relative;
             a {
                 color:#FFF;
                 font-size: 1.5rem;
             }
             p{
                 color:#FFF;
                 text-align: left;
                 line-height: 1.625;
                 margin:0;
                 font-size:1.5rem;
             }
             &__title{
                 border-bottom:1px solid #CCC;
                 padding-bottom:.5rem;
                 width:71%;
                 color:#FFF !important;
                 @mixin atMedium{
                    width:81%; 
                 }
             }
             &__date{
                position: absolute;
                right: 1rem;
                top: 30%;
                width: 7rem;
                text-align: center;
                border: .1rem solid #ccc;
                padding: 1.5rem;
                 color:#FFF;
             }
             
             &:hover{
                 border:1px solid $super-light-gray;;
                 
                 & .nav-tab__content__block__date{
                     background-color:$darkBlue;
                     color:#FFF;
                 }
                 
                 & .nav-tab__content__block__title{
                     border-bottom:1px solid $super-light-gray;
                 }
             }
         }
     }
     
     
      
    &__link {
        button{
            background-color:transparent;
            color:#FFF;
            font-size:1.6rem;
        }
        float:left;
        border:.1rem solid #FFF;
        color:$super-light-gray;
        list-style: none;
        padding:1rem;
        cursor: pointer;
        text-align: center;
        font-size:1.6rem;
        &--current{
             button{
            
            color:$main-blue;
        }
            color:$main-blue;
            background-color:$super-light-gray;
        }
        
        
        
        &:hover{
            background-color:$super-light-gray;;
             color:$main-blue;
            button{
                color:$main-blue;
            }
        }
        
        @mixin atSmall{
            padding:1.5rem;
            font-size:1.6rem;
        }
        @mixin atMedium{
            padding:1.5rem;
            font-size:1rem;
        }
    }
     
     &:after{
            content: "";
              display: table;
              clear: both;
            }
    }







 .nav-tab2{
      margin:0;
     padding:0;
     
    
     &__content{
        display: none;
        animation: fadeEffect 2s;
        min-height:10rem;
        margin-top:2em;
         color:#777;
         &.nav-tab2__current-tab{
            animation: fadeEffect 2s;
            display: block;
         }
         
         &__block{
             margin-bottom:2rem;
             padding:0;
             position: relative;
            
             p{
                 color:#555;
                 text-align: left;
                 line-height: 1.625;
                 margin:0 0 2rem 0;
                 font-weight: 300;
             }
             &__title {
                 color:$main-blue;
                 font-weight: 400;
                 line-height: 1.625;
                 margin:0;
                 padding:0;
                 @mixin atMedium{
                    width:81%; 
                 }
             }
             
             ul{
                margin:0 0 0 20px;
                padding:0;
                 li{
                     margin-bottom:1rem;
                     line-height: 1.625;
                 }
             }
         }
     }
     
     
      
    &__link {
        background-color:$super-light-gray;
        border-right:4px solid #FFF;
        color:$main-blue;
        list-style: none;
        padding:1rem;
        cursor: pointer;
        text-align: center;
        margin-bottom:1.5rem;
        button {
            padding:0;
            margin:0;
            background-color:transparent;
            color:$main-blue;
        }
        
        @mixin atMedium{
            width:50%;
            float:left;
        }
        
        &--current {
            button{color:#FFF;}
            color:#FFF;
            background-color:$main-blue;
            position: relative;
             
            &:before {
                content:"\f0d7";
                position: absolute;
                left:50%;
                top:40%;
                transform: translateX(-50%);
                color:$main-blue;
                display: inline-block;
                font: normal normal normal 5rem/1 FontAwesome;

                @mixin atMedium {
                    top:40%;
                    font: normal normal normal 6rem/1 FontAwesome;
                }
            }
        }
        
        &:hover {
            background-color:$main-blue;
            button {color:#FFF; }
            &:before {
                content:"\f0d7";
                position: absolute;
                left:50%;
                top:40%;
                transform: translateX(-50%);
                color:$main-blue;
                display: inline-block;
                font: normal normal normal 5rem/1 FontAwesome;

                @mixin atMedium {
                    top:40%;
                    font: normal normal normal 6rem/1 FontAwesome;
                }
            }
        }

    }
}


 @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }